.clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 72%;
    border-radius: 0 0 .5em 0.5em;
    background-color: #efefef;
}

.client {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: .3em;
    width: 19%;
    height: 3em;
    justify-content: center;
    margin: 0.5em 1% 0.5em 0;
    overflow: hidden;
    .client__name {
        padding: .5em 1em;
        cursor: pointer;
        text-shadow: 1px 1px 3px #00000036;
    }

    .client__timer-notification {
        position: absolute;
        top: 7.2em;
        right: 2.3em;
        background-color: #333;
        padding: .5em 1em;
        border-radius: .3em;
        color: #fafafa;
    }

    
    .client__timer-notification .clpanel__rate {
        width: 7em;
    }
    
    .client__timer-control {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .client__timer-control h4 {
        margin-right: 1em;
    }

    .client__timer-button {
        border: none;
        cursor: pointer;
        border-radius: 0.3em;
        transition: ease all .3s;
        padding: 0.4em .6em;
        background-color: $color-light-alt;
        font-size: .8em;
        color: #333;
        margin:.3em;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .client__timer-button:hover {
        background-color:$color-link;
        color:$color-light;
    }
    
    .client__timer-control .client-control {
        font-size: .7em;
    }

    .client__timer-control .client-control span {
        width: 1.5em;
        margin-left: .7em;
    }

    .client__timer-control span {
        width: 1.5em;
        margin-left: .7em;
    }
    
    .client__timer-control .client-pauses {
        margin-left: .7em;
    }
    
    
    .client__timer-control .client-log {
        margin-right: .7em;
    }

    .client__controls {
        display:flex;
        height:3em;
    }

}








.clpanel {
    background-color: #fafafa;
    border-radius: .3em;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    box-shadow: 0px 0px 100px #0000002e;
    transition:ease all 1s;

    .clpanel__settings-toggle {
        border-radius: 2em;
        background-color: black;
        width: 1.7em;
        height: 1.7em;
        color: white;
        margin-top: -2.8em;
        margin-left: -0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2em;
        cursor: pointer;
        margin-right:1em;
        transition:ease all .2s;
    }
    .clpanel__clientdash {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 1em;
        font-weight: 500;
        min-height: 5em;
    }
    .clpanel__clientname {
        display: flex;
        align-items: center;
        margin: .5em 0;
        .clientname-panel {
            padding: .3em 1.5em;
            border-radius: 0 .4em .4em 0;
            margin-right: .5em;
            margin-left: -.83em;
            transition: ease all 1s;
            text-shadow: 1px 1px 3px #00000036;
        }
    }
    .clpanel__colorspanel {
        display: flex;
        left: 0;
        transition: ease all 1s;
        padding: .25em .7em;
        min-height: 2em;
    }
    
    .clpanel__colorpick{
        display:flex;
    }
    .clpanel__colorpick ul {
        display:flex;
        width:100%;
    }
    
    .clpanel__colorpick li {
        width: 1.7em;
        height: 1.7em;
        cursor: pointer;
        border-radius: 50%.3em;
        margin: .25em;
    }

    .clpanel__task {
        width: 100%;
        display: flex;
        height: auto;
        transition: ease all .7s;
        padding: .5em 0em;
        align-items: flex-start;
    }
    
    .clpanel__tasklist {
        width: 100%;
        padding: 0 1em;
        .spacer {
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            cursor:pointer;
        }
    }

    .clpanel__clientratelabel {
        width: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #efefef;
        border-radius: .3em;
        height: 2.5em;
        margin: .5em 0em;
    }
    
    .clpanel__clientrate {
        border-radius: .3em;
        border: none;
        background-color: #efefef;
        margin-right: .2em;
        // padding: 0em 0em 0em 1em;
        height: 2.5em;
        width: 8em;
        // margin: 0 1em;
    }
    
    .clpanel__clientrate:focus {
        outline: none;
    }
    
    .clpanel__cardclose {
        cursor: pointer;
    }

    .clpanel__optiondash {
        display: flex;
        background-color: #fafafa;
        border-radius: .5em .5em 0em 0;
        align-items:center;
        flex-direction: row;
        width: 100%;
        top: -2.5em;
        position: absolute;
        height: 2.8em;
        left: 0;
    }

    .clpanel__archivedpanel {
        position: absolute;
        width: 96%;
        left: 2%;
        background-color: #fafafa;
        height: 64vh;
        top: 3em;
        padding: 1em;
        border-radius: .3em;
        z-index:99;
    }

    .clpanel__archivedpanel ul {
        display:flex;
        flex-wrap:wrap;
    }

    .clpanel__archivedpanel li {
        padding:.5em 1em;
        margin:.5em;
        border-radius: .3em;
        justify-content: space-between;
        background-color: $color-dark;
        color:$color-light;
        display:flex;
        flex:0 0 32%;
        width:5%;
    }

    .archived-overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #cdcdcd;
        opacity:.5;
        top: 0;
        left: -12%;
        top: -10.5em;
        cursor:pointer;
    }
    
    .clpanel__optionsdash {
        display: flex;
    }
    
    .clpanel__optionbutton {
        cursor: pointer;
        padding-right: 1em;
    }
    
    .clpanel__optionpopup {
        transition: ease all 1s;
        display: flex;
        border: solid thin #0000000d;
        box-shadow: 0px 0px 50px #00000021;
        transform: translate(0px, -5.5em);
        border-radius: .3em;
        position: absolute;
        justify-content: flex-end;
        padding: 0.7em;
        padding-left:1.5em;
        right: 0;
        background-color: $color-light;
    }
    
    .clpanel__delete {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        margin-top: -10em;
        border-radius: .3em;
        padding: 1em;
        background-color: #fafafa;
        text-align: center;
    }

    .clpanel__overlay {
        position: absolute;
        right: 0;
        top: 3.4em;
        width: 81vw;
        height: 60vh;
        background-color: #0000000a;
        border-radius: .3em;
    }

        
    .clpanel__control {
        border: none;
        cursor: pointer;
        border-radius: 0.3em;
        transition: ease all .3s;
        padding:.6em 1em;
        background-color: #efefef;
        color: #333;
        margin:.3em;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .clpanel__control:hover {
        background-color:$color-link;
        color:$color-light;
    }
    
    .clpanel__timer {
        height:3.2em;
        display: flex;
        align-items: center;
        margin-right: 1em;
    }
    
    .clpanel__pauses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .clpanel__resumes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .clpanel__time {
        width: 2em;
        margin-left: .3em;
    }
    
    .clpanel__rate {
        width: 7em;
    }
    
    .clpanel__clientselect {
        border-radius: .3em;
        border: none;
        background-color: #efefef;
        margin-right: .2em;
        padding: 0em 1em 0em 1em;
        height: 2.5em;
        cursor: pointer;
    }
    
    .clpanel::-webkit-scrollbar {
        display: none;
    }

}
