.clear {
    background-color:#fff !important;
    color: #333 !important;
    border: thin solid #cdcdcd !important;
}
.red {
    background-color:$color-red !important;
    color: #fafafa !important;
}
.turq {
    background-color:$color-turq !important;
    color: #fafafa !important;
}
.black {
    background-color:$color-black !important;
    color: #fafafa !important;
}
.purple {
    background-color:$color-purple !important;
    color: #fafafa !important;
}
.blue {
    background-color:$color-blue !important;
    color: #fafafa !important;
}
.yellow {
    background-color:$color-yellow !important;
    color: #fafafa !important;
}
.green {
    background-color:$color-green !important;
    color: #fafafa !important;
}

