
//dashboard

.dashboard {
    margin: 2em 2% 2%;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #ffffffe1;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 0.5em;
}

.sidebar {
    display:flex;
    flex:1 0 30%;
 
    .colorpicker {
        margin: .25em;
        background-color: #f1f1f1;
        padding: 1em;
        border-radius: .2em;
    }

    .new-client {
            margin: .25em;
            box-shadow: 0 0 1.5em #00000026;
            border-radius: .2em;
        button {
            margin: .25em .25em .25em .25em;  
            border-radius: .2em;
        }
    }

}

.ui {
    display: flex;
    flex-direction: column;
    flex: 1 0 5%;
}

.new-grp {
    display: flex;
    align-items: center;
}

.button-new {
    width: 3em;
    display: flex;
    height: 3em;
    border-radius: .2em;
    justify-content: center;
    align-items: center;
    margin: .5em;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    width: 1.5em;
    height: 1.5em;
}


.clients {
    display:flex;
    flex:1 0 69%;
    flex-direction: column; 
    padding:.5em 1em;
}

.clients-dash {
    margin: 0 0em 0 .3em;
    height: 3.5em;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:$color-grey;
    border-radius: .2em;
}

.client-dash-timer {
    position: absolute;
    margin: -4em 0 0 .3em;
    display: flex;
    align-items: center;
}

.client-back {
    font-size: 2em;
    position: absolute;
    margin-top: .2em;
    transform: translate(-1.5em,.1em);
    cursor: pointer;
    transition:ease all .5s;
}

.client-back:hover {
    color:$color-link !important
}

.client-filter {
    display: flex;
    flex-direction: column;
    z-index: 99999;
    background-color: #f1f1f1;
    border-radius: .2em;
    padding: .4em;
    position: absolute;
    width: 15em;
}

.client-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    margin-left: 14.3em;
    padding: .5em 2em;
}

.client-categories .text {
   margin: 0 .7em;
   background-color: #f1f1f1;
   padding:.3em .7em;
   border-radius: .2em;
   cursor:pointer;
   padding: 0em 1em;
   display: flex;
   height: 3em;
   align-items: center;
}

.client-category {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: .2em;
    padding: 0;
    margin: .25em;
    .text {
        margin-left: .3em;
    }
    input {
        margin-left: .3em;
        padding: .4em .7em;
    }
}

.client-panel {
    height: 100%;
    display: flex;
}

.client-tabs {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.client-tab {
    display: flex;
    border-radius: .2em;
    width: 15em;
}

.client-activity {
    display: flex;
    flex: 1 0 50%;
    margin: 1em 0em 0em 2em;
    flex-direction: column;
    border-radius: .7em;
    background-color: #b1e3f123;
    box-shadow: 0em 0em 4em #5a8e9c5c;
    animation:client-activity-display .7s;
}

.client-info {
    .text {
        height: 2.5em;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

.client-jobs {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .7em;
}

.client {
    padding: .7em 1em;
    margin: .3em;
    border-radius: .2em;
    height: 2.5em;
    line-height: 1.2;
    cursor:pointer;
}

.client:hover {
    opacity: .8;

}

.client-timer {
    margin: .7em 0;
    display:flex;
    align-items:center;
    .add {
        padding: 0;
        margin:0 .3em 0 0;
        height: 1.7em;
        width:1.7em;
        box-shadow: 0px 0px 10px #2a3f4240;
        border: solid thin #dadada;
    }
    input {
        height: 100%;
        margin:0 .3em 0 0;
        box-shadow: 0px 0px .7em #3c4f5234;
        border: solid thin #dadada;
    }
    span {
        box-shadow: 0px 0px .7em #3c4f5234;
        border: solid thin #dadada;
    }
    button {
        box-shadow: 0px 0px .7em #3c4f5234;
        border: solid thin #dadada;
    }
    
    .container {
        display: flex;
        align-items: center;
        flex: 1;
        button {
            border-radius:.2em;
            width:5em;
            margin:0 .3em 0 0;
        }
        .client-date {
            margin:0 .5em 0 .5em;
            height: 2.5em;
            display: flex;
            align-items: center;
            background-color: $color-grey;
            padding:.3em 1em;
            border-radius: .2em;
        }
        .time {
            background-color:$color-dark;
            color:$color-light-alt;
            height:2.5em;
            display:flex;
            flex:1 0 5%;
            justify-content: flex-end;
            align-items: center;
            padding:.3em 1em;
            border-radius: .2em;
            span {
                margin:0 0em 0 .3em;
                box-shadow: none;
                border: none;
            }
        }
    }

}

.job {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin: .2em 0;
    border-radius: .2em;
    padding: .5em 1em;
    justify-content: space-between;
}

.drop-down .view {
    margin-top: .2em;
    padding-left: .3em;
}

.drop-down .view .text {
    padding: .4em .7em;
    cursor: pointer;
}

.drop-down .text {
    padding: .5em .7em;
    height: 2.5em;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.drop-down .text:hover{
    padding: .4em .7em;
    cursor: pointer;
    background-color:#fafafa;
}

.drop-down .view .text:hover {
    padding: .4em .7em;
    cursor: pointer;
    background-color:#fafafa;
}

.text.filter-cancel {
    padding: 0em 1em;
    display: flex;
    height: 3em;
    align-items: center;
}
