
.dashboard {
    margin:2em 8%;
    display:flex;
    flex-direction: column;
    height:100%;
    background-color:#fff;
    border-radius:.7em;
}

.header {
    display: flex;
    justify-self: auto;
    align-items: flex-start;
    flex-direction: column;
    padding:0em 2em;
    .header__left {
        width:36.8%;
    }
    .header__logo {
        color:$color-link;
        font-weight: 700;
        font-size:3em;
        padding: .5em 0;
        margin-right: .2em;
    }
    .header__clientlabel {
        display:flex;
        height:3.3em;
    }
    .header__settings {
        display: flex;
        height: 3.3em;
        align-items: center;
        margin: 0em 0em 2em 0;
    }
    .header__settings-toggle {
        height: 100%;
        display: flex;
        margin-right: 1em;
        margin-top: -1em;
        cursor:pointer;
    }
    .header__settings-popup {
        margin-top: -2.3em;
        display: flex;
        align-items: center;
    }

    .header__dollar {
        color: $color-light;
        position: absolute;
        margin-left: .7em;
    }

    .header__rateset {
        height: 2.3em;
    }

    .header__settings-toggle svg {
        font-size: 2.1em;
        padding: .15em;
        border-radius: 1em;
        color: $color-light;
        background-color: $color-link;
    }
    .header__settings-popup input {
        height: 2.3em;
        width:10em;
        border-radius: .3em;
        padding:0em 1em 0em 2em;
        color: $color-light;
        background-color: $color-link;
    }
    
    .header__settings-popup input::placeholder {
        color: $color-light;
    }

}



.clients {
    padding:1em 2em;
    margin-top:1em;
    .clients__jobs {
        display:flex;
    }
}

.dashboard__auth {
    align-self: flex-end;
}

.dashboard__signin {
    cursor: pointer;
    border:none;
    outline:none;
    padding:.5em 1em;
    border-radius: .3em;
    transition: ease all .5s;
}

.dashboard__signin:hover {
    background-color:#333;
    color:#fafafa;
}

.dashboard__signout {
    cursor: pointer;
    border:none;
    outline:none;
    padding:.5em 1em;
    border-radius: .3em;
    transition: ease all .5s;
}


.overlay {
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100vh;
    left: 0;
    opacity: .5;
    background-color: #cdcdcd;
    z-index:1;
}

.container {
    display: flex;
    flex-direction: column;
}

.task__input {
    border-radius: .3em;
    border:none;
    background-color: #efefef;
    margin-right: .2em;
    padding: .6em 1em;
    margin: .3em 1em 0 0;  
    
}




span.dollar {
    padding: .1em .1em 0em 0em;
    opacity: .7;
}






#confirm-client {
    width: 10em;
    margin: .3em;
    align-self: center;
}




.existingjobs {
    display:flex;
    flex:1 0 30%;
    flex-direction: column;
}

.existingjobs h3 {
    padding: .6em 0em;
}

.existingjobs__client {
    width:100%;
    transition:ease all 1s;
    margin-left:.5em;
    cursor: pointer;
}

.existingjobs__jobContainer {
    margin-top: 1em;
}

.existingjobs__jobitem {
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    padding: .5em;
    border-radius: .3em;
    transition: ease all 1s;
}

.existingjobs__jobitem div {
    padding:0 .6em;
}


.existingjobs__jobtab {
    padding: 0 1em;
    background-color: $color-link;
    border-radius: .3em .3em 0 0;
    color:$color-light;
}

.jobitem__pauses {
    padding: 0 .3em !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.jobitem__resumes {
    padding: 0 !important;
    display: flex;
    margin-left: -1.3em;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.jobitem__breaks {
    display: flex;
    flex-direction: row;
}

.jobitem__remove {
    display: flex;
    align-self: center;
    font-size: 1.2em;
    position: absolute;
    justify-content: flex-end;
    right: 1em;
    color:$color-light;
    position:absolute;
    transition:ease all .7s;
    cursor: pointer;
    border-radius: .2em;
    background-color:$color-dark;
}

.jobitem__remove:hover {
    color:$color-light;
    background-color:$color-link;
    
}

.clpanel__timer span {
    padding: 0 0.5em 0 .5em;
}





.clpanel__add:hover {
    background-color:#333;
    color:#efefef;
}
