
// fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

h1,h2,h3,h4,h5,h5 {
    font-family:Poppins,Roboto;
}

a {
    font-family:Poppins,Roboto;
}

div {
    font-family:Poppins,Roboto;
}

span {
    font-family:Poppins,Roboto;
}

button {
    font-family:Poppins,Roboto;
}

input {
    font-family:Poppins,Roboto;
}

.alert {
    color:$color-link-alt;
}

.alert-button {
    background-color:$color-link-alt;
    color:$color-light;
    padding:.5em;
    width:10em;
    border-radius: .2em;
    align-self: center;
    margin:.5em;
}

.newJob__button {
    border: none;
    transform: skew(-17deg, 0deg) rotate(0deg) translate(5px, 1px);
    cursor: pointer;
    border-radius: 0.3em;
    transition:ease all .3s;
    padding:.3em .6em;
}

.client__controls {
    display:flex;
    height:3em;
}

.client__control {
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
    transition: ease all .3s;
    padding:.6em 1em;
    background-color: #efefef;
    color: #333;
    margin:.3em;
    display:flex;
    justify-content: center;
    align-items: center;
}
.client__control:hover {
    background-color:$color-link;
    color:$color-light;
}


// options panel

.color__options {
    position: absolute;
    display: flex;
    flex: 1 0 99%;
    right: 0;
    transition: ease all 1s;
    margin-top: -6.8em;
    padding: .5em 1em;
    top: 0;
    border-radius: .5em;
    min-height: 3em;
}

.options__colorpick {
    display:flex;
}
.options__colorpick ul {
    display:flex;
    width:100%;
}

.options__colorpick li {
    width: 2em;
    height: 2em;
    cursor: pointer;
    border-radius: 0.5em;
    margin-right: .5em;
}

.newJob__button:hover {
    background-color:#333;
    color:#fff;
}

.newJob__jobInfo {
    font-style:italic;
    color:#333;
}

//forms

.signup-form {
    display:flex;
    align-items: center;
}

//buttons 
.submit {
    width: 5em;
    height:1.9em;
    cursor:pointer;
}