
// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

h1,h2,h3,h4,h5,h5 {
    font-family:Poppins,Roboto;
}

a {
    font-family:Poppins,Roboto;
}

div {
    font-family:Poppins,Roboto;
}

span {
    font-family:Poppins,Roboto;
}

button {
    font-family:Poppins,Roboto;
    cursor: pointer;
    border:none;
    padding:.5em;
    border-radius:.5em;
}

button {
    svg {
        position: absolute;
    }
}

input {
    font-family:Poppins,Roboto;
    border-radius: .2em;
    border:none;
    background-color: #efefef;
    margin-right: .2em;
    padding:0em 0em 0em 1em;
    margin:.25em;
}

.subheading {
    margin:.5em 0;
}
//theme

.add {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1em;
    width:1.5em;
    height:1.5em;
    font-size:1.5em;
    margin:.3em;
}

.add-inputs {

}


