/* Color Option Swatches in RGBA */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
a {
  color: #fd4218;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

a:hover {
  color: #d12600;
}

button:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.dashboard {
  margin: 2em 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #fff;
  border-radius: .7em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0em 2em;
}

.header .logo__header {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-weight: 500;
  font-size: 2em;
  padding: .5em 0;
}

.header .header_left {
  width: 24%;
}

.dashboard__clients {
  padding: 1em 2em;
  margin-top: 1em;
}

.dashboard__clients .jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__auth {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dashboard__signin {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5em 1em;
  border-radius: .3em;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.dashboard__signin:hover {
  background-color: #333;
  color: #fafafa;
}

.dashboard__signout {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5em 1em;
  border-radius: .3em;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.overlay {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 100vh;
  left: 0;
  opacity: .5;
  background-color: #cdcdcd;
  z-index: 1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  border-radius: .3em;
  width: 19%;
  margin: 0.5em 1% 0.5em 0;
  overflow: hidden;
}

.client-name {
  padding: .7em;
  cursor: pointer;
}

.client-name.panel {
  padding: .3em 1em;
  border-radius: .4em;
  margin-left: .4em;
}

.client__clientselect {
  border-radius: .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: 0em 1em 0em 1em;
  height: 2.5em;
  cursor: pointer;
}

.task__input {
  border-radius: .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: .6em 1em;
  margin: .3em 0;
}

.client__input:focus {
  outline: none;
}

.client__jobInfo {
  background-color: #fafafa;
  border-radius: .3em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5em;
  overflow-x: scroll;
  -webkit-box-shadow: 0px 0px 100px #0000002e;
          box-shadow: 0px 0px 100px #0000002e;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.client__jobInfo::-webkit-scrollbar {
  display: none;
}

.client__clientdash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 1em;
  font-weight: 500;
}

.client__clientdash div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em;
}

span.dollar {
  padding: .1em .1em 0em 0em;
  opacity: .7;
}

label.client__clientratelabel {
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #efefef;
  border-radius: .3em;
  height: 2.5em;
  margin: 0 1em;
}

.client__clientrate {
  border-radius: .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  height: 2.5em;
  width: 8em;
}

.client__clientrate:focus {
  outline: none;
}

.client__cardclose {
  cursor: pointer;
}

.client__optionbutton {
  cursor: pointer;
  padding-right: 1em;
}

.client__task {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
  padding: 0 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.client__tasklist {
  width: 100%;
  padding: 0 1em;
}

.client__timer {
  height: 3.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.client__pauses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__resumes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__time {
  width: 2em;
  margin-left: .3em;
}

.client__rate {
  width: 7em;
}

.timer-notification {
  position: absolute;
  top: 7em;
  right: 10.7%;
  background-color: #333;
  padding: .5em 1em;
  border-radius: .3em;
  color: #fafafa;
}

.timer-notification__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.timer-notification__control .client__control {
  font-size: .7em;
}

.timer-notification__control span {
  width: 1.5em;
  margin-left: .7em;
}

.timer-notification .client__rate {
  width: 7em;
}

.timer-notification__control .client__pauses {
  margin-left: .7em;
}

.timer-notification__control .client__log {
  margin-right: .7em;
}

.existingjobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.existingjobs h3 {
  padding: .6em 0em;
}

.existingjobs__client {
  width: 100%;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  margin-left: .5em;
  cursor: pointer;
}

.existingjobs__jobitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #efefef;
  padding: .5em;
  border-radius: .3em;
  margin: 1em 0;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.existingjobs__jobitem div {
  padding: 0 .6em;
}

.jobitem__pauses {
  padding: 0 .3em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobitem__resumes {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.3em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobitem__breaks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.client__timer span {
  padding: 0 0.5em 0 .5em;
}

.client__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.3em;
}

.client__input {
  border-radius: .3em 0 0 .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: 0em 0em 0em 1em;
  width: 100%;
}

.client__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  background-color: #efefef;
  color: #555;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  cursor: pointer;
  border-radius: 0 .3em .3em 0;
}

.client__add:hover {
  background-color: #333;
  color: #efefef;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#151515), color-stop(#232323), color-stop(#313131), color-stop(#404040), color-stop(#4b4b4b), color-stop(#565656), color-stop(#616161), color-stop(#6b6b6b), color-stop(#747474), color-stop(#7e7e7e), to(#888888));
  background-image: linear-gradient(to right top, #000000, #151515, #232323, #313131, #404040, #4b4b4b, #565656, #616161, #6b6b6b, #747474, #7e7e7e, #888888);
}

.auth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  background-color: #fafafa;
  border-radius: .7em;
}

.auth__container h1 {
  color: #ff4920;
}

.auth__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth__form input {
  padding: .5em 1em;
  border-radius: .5em;
  border: none;
  background-color: #111;
  color: #f3f3f3;
  margin: .5em;
  width: 18em;
}

.auth__form input:focus {
  outline: none;
}

.auth__form input::-webkit-input-placeholder {
  color: #f3f3f3;
}

.auth__form input:-ms-input-placeholder {
  color: #f3f3f3;
}

.auth__form input::-ms-input-placeholder {
  color: #f3f3f3;
}

.auth__form input::placeholder {
  color: #f3f3f3;
}

.auth__form button {
  padding: .5em;
  border-radius: .5em;
  border: none;
  background-color: #ebebeb;
  margin: .5em;
  width: 18em;
  cursor: pointer;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.auth__form button:hover {
  background-color: #F2360C;
  color: #f3f3f3;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 99%;
          flex: 1 0 99%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.5em;
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h5 {
  font-family: Poppins,Roboto;
}

a {
  font-family: Poppins,Roboto;
}

div {
  font-family: Poppins,Roboto;
}

span {
  font-family: Poppins,Roboto;
}

button {
  font-family: Poppins,Roboto;
}

input {
  font-family: Poppins,Roboto;
}

.newJob__button {
  border: none;
  -webkit-transform: skew(-17deg, 0deg) rotate(0deg) translate(5px, 1px);
          transform: skew(-17deg, 0deg) rotate(0deg) translate(5px, 1px);
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  padding: .3em .6em;
}

.client__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
}

.client__control {
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  padding: .6em 1em;
  background-color: #efefef;
  color: #333;
  margin: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__control:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

.client__options {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 99%;
          flex: 1 0 99%;
  right: 1.5em;
  margin-top: 3.7em;
  padding: .5em 1em;
  border-radius: .5em;
  min-height: 3em;
}

.options__colorpick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30em;
}

.options__colorpick ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.options__colorpick li {
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 0.5em;
  margin-right: .5em;
}

.newJob__button:hover {
  background-color: #333;
  color: #fff;
}

.newJob__jobInfo {
  font-style: italic;
  color: #333;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit {
  width: 5em;
  height: 1.9em;
  cursor: pointer;
}

.clear {
  background-color: #fff;
  color: #333;
  border: thin solid #cdcdcd;
}

.red {
  background-color: #F2360C;
  color: #fafafa;
}

.turq {
  background-color: #1BA68C;
  color: #fafafa;
}

.black {
  background-color: #000000;
  color: #fafafa;
}

.purple {
  background-color: #7A30D9;
  color: #fafafa;
}

.blue {
  background-color: #0029FA;
  color: #fafafa;
}

.yellow {
  background-color: #F2B807;
  color: #fafafa;
}

.green {
  background-color: #1BBF15;
  color: #fafafa;
}
/*# sourceMappingURL=app.css.map */