/* Color Option Swatches in RGBA */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
a {
  color: #fd4218;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

a:hover {
  color: #d12600;
}

button:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* misc */
svg path {
  pointer-events: none;
}

.dashboard {
  margin: 2em 8% 4em 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #fff;
  border-radius: .7em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.header .header__left {
  width: 36.8%;
}

.header .header__logo {
  color: #fd4218;
  font-weight: 700;
  font-size: 3em;
  padding: .5em 0;
  margin-right: .2em;
}

.header .header__clientlabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.3em;
}

.header .header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0em 0em 2em 0;
}

.header .header__settings-toggle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  margin-top: -1em;
  cursor: pointer;
}

.header .header__settings-popup {
  margin-top: -2.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__dollar {
  color: #f3f3f3;
  position: absolute;
  margin-left: .7em;
}

.header .header__rateset {
  height: 2.3em;
}

.header .header__settings-toggle svg {
  font-size: 2.1em;
  padding: .15em;
  border-radius: 1em;
  color: #f3f3f3;
  background-color: #fd4218;
}

.header .header__settings-popup input {
  height: 2.3em;
  width: 10em;
  border-radius: .3em;
  padding: 0em 1em 0em 2em;
  color: #f3f3f3;
  background-color: #fd4218;
}

.header .header__settings-popup input::-webkit-input-placeholder {
  color: #f3f3f3;
}

.header .header__settings-popup input:-ms-input-placeholder {
  color: #f3f3f3;
}

.header .header__settings-popup input::-ms-input-placeholder {
  color: #f3f3f3;
}

.header .header__settings-popup input::placeholder {
  color: #f3f3f3;
}

.clients {
  padding: 1em 2em;
  margin-top: 1em;
}

.clients .clients__jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__auth {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dashboard__signin {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5em 1em;
  border-radius: .3em;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.dashboard__signin:hover {
  background-color: #333;
  color: #fafafa;
}

.dashboard__signout {
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5em 1em;
  border-radius: .3em;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.overlay {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 100vh;
  left: 0;
  opacity: .5;
  background-color: #cdcdcd;
  z-index: 1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task__input {
  border-radius: .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: .6em 1em;
  margin: .3em 1em 0 0;
}

span.dollar {
  padding: .1em .1em 0em 0em;
  opacity: .7;
}

#confirm-client {
  width: 10em;
  margin: .3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.existingjobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.existingjobs h3 {
  padding: .6em 0em;
}

.existingjobs__client {
  width: 100%;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  margin-left: .5em;
  cursor: pointer;
}

.existingjobs__jobContainer {
  margin-top: 1em;
}

.existingjobs__jobitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #efefef;
  padding: .5em;
  border-radius: .3em;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.existingjobs__jobitem div {
  padding: 0 .6em;
}

.existingjobs__jobtab {
  padding: .3em 1em;
  background-color: #fd4218;
  border-radius: .3em .3em 0 0;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.existingjobs__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.existingjobs__details span {
  margin-right: 1em;
}

.existingjobs__newtask {
  margin: 0;
  border-radius: .3em;
  background-color: #333;
  color: #f3f3f3;
}

.existingjobs__newtask::-webkit-input-placeholder {
  color: #efefef;
  opacity: .7;
}

.existingjobs__newtask:-ms-input-placeholder {
  color: #efefef;
  opacity: .7;
}

.existingjobs__newtask::-ms-input-placeholder {
  color: #efefef;
  opacity: .7;
}

.existingjobs__newtask::placeholder {
  color: #efefef;
  opacity: .7;
}

.existingjobs__jobdate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

.job__timer-control {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.job__newtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.6em;
  margin: 0 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.job__timer-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jobitem__pauses {
  padding: 0 .3em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobitem__resumes {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.3em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobitem__breaks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jobitem__remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.2em;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 1em;
  color: #f3f3f3;
  position: absolute;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
  cursor: pointer;
  border-radius: .2em;
  background-color: #333;
}

.jobitem__remove:hover {
  color: #f3f3f3;
  background-color: #fd4218;
}

.jobitem__remove-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
}

.clpanel__timer span {
  padding: 0 0.5em 0 .5em;
}

.clpanel__add:hover {
  background-color: #333;
  color: #efefef;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  border-radius: .3em;
  width: 19%;
  height: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em 1% 0.5em 0;
  overflow: hidden;
}

.client .client__name {
  padding: .5em 1em;
  cursor: pointer;
}

.client .client__timer-notification {
  position: absolute;
  top: 7em;
  right: 10.7%;
  background-color: #333;
  padding: .5em 1em;
  border-radius: .3em;
  color: #fafafa;
}

.client .client__timer-notification .clpanel__rate {
  width: 7em;
}

.client .client__timer-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.client .client__timer-button {
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  padding: 0.4em .6em;
  background-color: #fafafa;
  font-size: .8em;
  color: #333;
  margin: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client .client__timer-button:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

.client .client__timer-control .client-control {
  font-size: .7em;
}

.client .client__timer-control .client-control span {
  width: 1.5em;
  margin-left: .7em;
}

.client .client__timer-control span {
  width: 1.5em;
  margin-left: .7em;
}

.client .client__timer-control .client-pauses {
  margin-left: .7em;
}

.client .client__timer-control .client-log {
  margin-right: .7em;
}

.client .client__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
}

.clpanel {
  background-color: #fafafa;
  border-radius: .3em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5em 1em;
  -webkit-box-shadow: 0px 0px 100px #0000002e;
          box-shadow: 0px 0px 100px #0000002e;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.clpanel .clpanel__clientdash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 1em;
  font-weight: 500;
}

.clpanel .clpanel__clientname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em 0;
}

.clpanel .clpanel__clientname .clientname-panel {
  padding: .3em 1em;
  border-radius: .4em;
  margin-right: .5em;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.clpanel .clpanel__colorspanel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 99%;
          flex: 1 0 99%;
  right: 0;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  margin-top: -6.8em;
  padding: .5em 1em;
  top: 0;
  border-radius: .5em;
  min-height: 3em;
}

.clpanel .clpanel__colorpick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clpanel .clpanel__colorpick ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.clpanel .clpanel__colorpick li {
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 0.5em;
  margin-right: .5em;
}

.clpanel .clpanel__task {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
  padding: .5em 0em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clpanel .clpanel__tasklist {
  width: 100%;
  padding: 0 1em;
}

.clpanel .clpanel__clientratelabel {
  width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #efefef;
  border-radius: .3em;
  height: 2.5em;
  margin: .5em 0em;
}

.clpanel .clpanel__clientrate {
  border-radius: .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  height: 2.5em;
  width: 8em;
}

.clpanel .clpanel__clientrate:focus {
  outline: none;
}

.clpanel .clpanel__cardclose {
  cursor: pointer;
}

.clpanel .clpanel__optionsdash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clpanel .clpanel__optionbutton {
  cursor: pointer;
  padding-right: 1em;
}

.clpanel .clpanel__optionpopup {
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid thin #0000000d;
  -webkit-box-shadow: 0px 0px 50px #00000021;
          box-shadow: 0px 0px 50px #00000021;
  -webkit-transform: translate(0px, -5.5em);
          transform: translate(0px, -5.5em);
  border-radius: .3em;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.7em;
  padding-left: 1.5em;
  right: 0;
}

.clpanel .clpanel__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  margin-top: -10em;
  border-radius: .3em;
  padding: 1em;
  background-color: #fafafa;
  text-align: center;
}

.clpanel .clpanel__overlay {
  position: absolute;
  right: 0;
  top: 3.4em;
  width: 81vw;
  height: 60vh;
  background-color: #0000000a;
  border-radius: .3em;
}

.clpanel .clpanel__control {
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  padding: .6em 1em;
  background-color: #efefef;
  color: #333;
  margin: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clpanel .clpanel__control:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

.clpanel .clpanel__timer {
  height: 3.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.clpanel .clpanel__pauses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clpanel .clpanel__resumes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clpanel .clpanel__time {
  width: 2em;
  margin-left: .3em;
}

.clpanel .clpanel__rate {
  width: 7em;
}

.clpanel .clpanel__clientselect {
  border-radius: .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: 0em 1em 0em 1em;
  height: 2.5em;
  cursor: pointer;
}

.clpanel .clpanel::-webkit-scrollbar {
  display: none;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(#151515), color-stop(#232323), color-stop(#313131), color-stop(#404040), color-stop(#4b4b4b), color-stop(#565656), color-stop(#616161), color-stop(#6b6b6b), color-stop(#747474), color-stop(#7e7e7e), to(#888888));
  background-image: linear-gradient(to right top, #000000, #151515, #232323, #313131, #404040, #4b4b4b, #565656, #616161, #6b6b6b, #747474, #7e7e7e, #888888);
}

.auth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  background-color: #fafafa;
  border-radius: .7em;
}

.auth__container h1 {
  color: #ff4920;
}

.auth__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth__form input {
  padding: .5em 1em;
  border-radius: .5em;
  border: none;
  background-color: #111;
  color: #f3f3f3;
  margin: .5em;
  width: 18em;
}

.auth__form input:focus {
  outline: none;
}

.auth__form input::-webkit-input-placeholder {
  color: #f3f3f3;
}

.auth__form input:-ms-input-placeholder {
  color: #f3f3f3;
}

.auth__form input::-ms-input-placeholder {
  color: #f3f3f3;
}

.auth__form input::placeholder {
  color: #f3f3f3;
}

.auth__form button {
  padding: .5em;
  border-radius: .5em;
  border: none;
  background-color: #ebebeb;
  margin: .5em;
  width: 18em;
  cursor: pointer;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.auth__form button:hover {
  background-color: #F2360C;
  color: #f3f3f3;
}

.auth_google {
  background-color: #4285f4 !important;
  color: #fafafa !important;
}

.auth_google:hover {
  background-color: #1d5bc0 !important;
}

.login-button {
  background-color: #fd4218 !important;
  color: #fafafa !important;
}

.login-button:hover {
  background-color: #d12600 !important;
  color: #fafafa !important;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 99%;
          flex: 1 0 99%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.profile__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.5em;
  margin-top: 1.5em;
}

.profile__update {
  margin: 0em 1.5em;
}

h1, h2, h3, h4, h5, h5 {
  font-family: Poppins,Roboto;
}

a {
  font-family: Poppins,Roboto;
}

div {
  font-family: Poppins,Roboto;
}

span {
  font-family: Poppins,Roboto;
}

button {
  font-family: Poppins,Roboto;
}

input {
  font-family: Poppins,Roboto;
  border-radius: .3em 0 0 .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: 0em 0em 0em 1em;
}

.theme--button {
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  padding: .6em 1em;
  background-color: #efefef;
  color: #333;
  margin: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme--button:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

.theme-bsml {
  height: 1.5em;
  width: auto;
  cursor: pointer;
  padding: .3em;
  background-color: #d12600;
  color: #f3f3f3;
  margin: 0 .5em;
}

.theme-bsml:hover {
  background-color: #333;
  color: #f3f3f3;
}

.theme-button {
  -webkit-transition: ease all .7s;
  transition: ease all .7s;
  cursor: pointer;
}

.theme-button:hover {
  background-color: #fd4218;
  color: #f3f3f3;
}

.alert {
  color: #d12600;
}

.alert-confirmation {
  background-color: #333;
  color: #f3f3f3;
  margin: 0 .3em;
  border-radius: .3em;
  padding: .7em;
  cursor: pointer;
}

.alert-button {
  background-color: #d12600;
  color: #f3f3f3;
  padding: .5em;
  width: 10em;
  border-radius: .2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: .5em;
}

.newJob__button {
  border: none;
  -webkit-transform: skew(-17deg, 0deg) rotate(0deg) translate(5px, 1px);
          transform: skew(-17deg, 0deg) rotate(0deg) translate(5px, 1px);
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  padding: .3em .6em;
}

.newJob__button:hover {
  background-color: #333;
  color: #fff;
}

.newJob__jobInfo {
  font-style: italic;
  color: #333;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__input {
  border-radius: .3em 0 0 .3em;
  border: none;
  background-color: #efefef;
  margin-right: .2em;
  padding: 0em 0em 0em 1em;
  width: 100%;
}

.client__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  background-color: #efefef;
  color: #555;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  cursor: pointer;
  border-radius: 0 .3em .3em 0;
}

.client__input:focus {
  outline: none;
}

.clpanel__input:focus {
  outline: none;
}

.submit {
  width: 5em;
  height: 1.9em;
  cursor: pointer;
}

.clear {
  background-color: #fff;
  color: #333;
  border: thin solid #cdcdcd;
}

.red {
  background-color: #F2360C;
  color: #fafafa;
}

.turq {
  background-color: #1BA68C;
  color: #fafafa;
}

.black {
  background-color: #000000;
  color: #fafafa;
}

.purple {
  background-color: #7A30D9;
  color: #fafafa;
}

.blue {
  background-color: #0029FA;
  color: #fafafa;
}

.yellow {
  background-color: #F2B807;
  color: #fafafa;
}

.green {
  background-color: #1BBF15;
  color: #fafafa;
}
/*# sourceMappingURL=app.css.map */